<div class="cardContainer">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVAAAACWCAMAAAC/8CD2AAAAA1BMVEX//wCKxvRFAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF8GxXYAARizDlgAAAAASUVORK5CYII=" alt="Card image cap">
        <div class="card-body">
            <a class="card-text" routerLink="/showOrderStatus/0">
                View Details
              </a>
              <span>{{requested}}</span> 
        </div>
        <div class="centered">
            Requested
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVAAAACWCAMAAAC/8CD2AAAAA1BMVEUAZswGD39gAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF8GxXYAARizDlgAAAAASUVORK5CYII=" alt="Card image cap">
        <div class="card-body">
          <a class="card-text" routerLink="/showOrderStatus/1">
            View Details
          </a>
          <span>{{accepted}}</span> 
        </div>
        <div class="centered">
            Accepted
        </div>
      </div>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVAAAACWCAMAAAC/8CD2AAAAA1BMVEVl/wB6QsljAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF8GxXYAARizDlgAAAAASUVORK5CYII=" alt="Card image cap">
        <div class="card-body">
            <a class="card-text" routerLink="/showOrderStatus/2">
                View Details
              </a>
              <span>{{inProgress}}</span> 
        </div>
        <div class="centered">
            Inprogress
        </div>
      </div>
    
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVAAAACWCAMAAAC/8CD2AAAAA1BMVEWLAABKGsm7AAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF8GxXYAARizDlgAAAAASUVORK5CYII=" alt="Card image cap">
        <div class="card-body">
            <a class="card-text" routerLink="/showOrderStatus/3">
                View Details
              </a>
              <span>{{finished}}</span> 
        </div>
        <div class="centered">
            Finished
        </div>
      </div>
</div>
<div id="priceTable">
    <table class="table table-hover">
        <!-- <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead> -->
        <tbody>
          <tr>
            <td class="first">Top Wear Laundry Price</td>
            <td>12</td>
          </tr>
          <tr>
            <td class="first">Bottom Wear Laundry Price</td>
            <td>22</td>
          </tr>
          <tr>
            <td class="first">Woolen Cloth Laundry Price</td>
            <td>20</td>
          </tr>
          <tr>
            <td class="first">Other Price</td>
            <td>Other price depend upon cloth variety(other than above category)</td>
          </tr>
          
        </tbody>
      </table>
</div>